-r requirements.txt
pytest==7.4.3
pytest-cov==7.0.0
pytest-mock==3.12.0
responses==0.24.1
coverage==7.10.6
pre-commit==3.6.0
black==23.12.1
flake8==7.0.0
mypy==1.19.1
bandit==1.9.3
isort==5.13.2
types-requests==2.31.0.20240106
types-PyJWT==1.7.1
pylint==3.0.3
radon==6.0.1
vulture==2.11
pydocstyle==6.3.0
